.footer-wrapper {
    width: 100%;
    margin-top: auto;
    background-color: #d3d3d3;
    .copyright {
        padding-top: 15px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #3e3e3e;
        color: #d3d3d3;
        font-weight: bold;
        letter-spacing: 1px;
        a {
            text-decoration: none;
            color: #d3d3d3;
            @include animate(opacity);
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.footer {
    font: 15px "Roboto";
    color: #3e3e3e;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    .footer-main {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 100px 0 94px 0;
        @include media ("<phone") {
            flex-direction: column;
            margin: 0;
            padding-bottom: 25px;
            padding-top: 25px;
        }
        a {
            margin-top: 10px;
            @include animate(color);
            &:hover {
                color: #000;
            }
        }
        &-column {
            max-width: 290px;
            &-title {
                font: bold 20px Arvo;
                margin-bottom: 35px;
            }
            &-links {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                a {
                    color: #3e3e3e;
                }
                .blog-link-title {
                    font-weight: bold;
                }
            }
            form {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin-top: 45px;
                input {
                    width: 160px;
                    background-color: #eceaea;
                    border-radius: 10px 0 0 10px;
                    border: none;
                    outline: none;
                    @media (max-width: 599px) {
                        width: 100%;
                    }
                }
                button {
                    width: 95px;
                    padding: 12px 15px 12px 15px;
                    background-color: #3e3e3e;
                    border-radius: 0 10px 10px 0;
                    border: none;
                    color: #d3d3d3;
                    font-style: "Arvo";
                    outline: none;
                    @include animate(opacity);
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}