.wrapper-header-main {
    position: relative;
    background-image: url(/src/images/header-bg.png);
    background-size: cover;
    padding: 22px 0 135px 0;
    @include media ("<phone") {
        padding: 22px 0 25px;
    }
    &:after {
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        top: 0;
        left: 0;
        background-color: #d9d9d9;
        opacity: 0.35;
        z-index: -1;
    }
}

.header {
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    &-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 0 160px;
        @include media("<phone") {
            padding: 0 0 60px;
        }
        .fas {
            color: #3e3e3e;
            max-width: 15px;
        }
        .logo {
            z-index: 2;
            @include animate(opacity);
            &:hover {
                opacity: 0.6;
            }
        }
        .header-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            .navbar {
                display: flex;
                display: none;
                flex-direction: row;
                flex-wrap: nowrap;
                ul {
                    display: flex;
                    flex-direction: row;
                    li {
                        margin: 0 30px 0 0;
                        a {
                            @include animate(color);
                            @include animate(background-color);
                            font: bold 17px "Roboto";
                            padding: 10px 20px;
                            border-radius: 10px;
                            color: #3e3e3e;
                        }
                        &:hover {
                            a {
                                color: #d3d3d3;
                                background-color: #3e3e3e;
                            }
                        }
                    }
                    @include media("<desktop") {
                        flex-direction: column;
                        position: absolute;
                        justify-content: center;
                        align-items: center;
                        background-color: #d3d3d3;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        li {
                            width: 100%;
                            margin: 30px 0 0;
                            text-align: center;
                            a {
                                display: block;
                                padding: 10px 0;
                                &:hover {
                                    color: #3e3e3e;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
            .menu {
                cursor: pointer;
                @include animate(opacity);
                &:hover {
                    opacity: 0.6;
                }
                .fa-bars {
                    position: absolute;
                }
                .fa-minus-circle {
                    display: none;
                }
                .fa-plus-circle,
                .fa-minus-circle {
                    position: relative;
                    background-color: #fff;
                    border-radius: 50px;
                    top: 17px;
                    left: 6px;
                }
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    z-index: 1;
    padding: 15px;
    &-title {
        font: bold 40px "Arvo";
        color: #3e3e3e;
        margin: 0;
        letter-spacing: 1px;
        text-align: center;
    }
    &-slogan {
        font: 35px "Arvo";
        color: #3e3e3e;
        margin: 0 0 25px;
    }
    P {
        font: 15px "Poppins";
        color: #3e3e3e;
        max-width: 538px;
        text-align: center;
        margin: 0 0 45px;
        @include media("<phone") {
            margin: 0;
        }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include media("<phone") {
            flex-direction: column;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font: 18px "Arvo";
            color: #dadada;
            width: 160px;
            height: 49px;
            border-radius: 10px;
            background-color: #3e3e3e;
            margin: 0 15px;
            @include animate(opacity);
            @include media("<phone") {
                margin: 25px 0 0;
                align-self: center;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}