.wrapper-header-main {
    position: relative;
    background-image: url(/src/images/header-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 650px;
    flex-wrap: wrap;
    padding: 22px 0 155px 0;
    @media (max-width: 651px){
        padding-bottom: 45px;
    }
    &:after {
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        top: 0;
        left: 0;
        background-color: #d9d9d9;
        opacity: 0.35;
        z-index: 0;
    }
}

.header {
    width: 1110px;
    z-index: 2;
    @media (max-width: 507px) {
        padding: 0 15px;
    }
    &-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 195px;
        @media (max-width: 451px) {
            margin-bottom: 60px;
        }
        .fas {
            color: #3e3e3e;
        }
        .logo {
            font: normal 40px "Arvo";
            color: #3e3e3e;
            z-index: 2;
        }
        .header-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            .navbar {
                display: flex;
                display: none;
                flex-direction: row;
                flex-wrap: nowrap;
                padding-top: 14px;
                ul {
                    display: flex;
                    flex-direction: row;
                    li {
                        margin-right: 30px;
                        a {
                            font: bold 17px "Roboto";
                            padding: 10px 20px;
                            border-radius: 10px;
                            color: #3e3e3e;
                        }
                        &:hover {
                            a {
                                color: #d3d3d3;
                                background-color: #3e3e3e;
                            }
                        }
                    }
                    @media (max-width: 825px) {
                        flex-direction: column;
                        position: absolute;
                        justify-content: center;
                        align-items: center;
                        background-color: #d3d3d3;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        li {
                            width: 100%;
                            margin-right: 0;
                            margin-top: 30px;
                            text-align: center;
                            a {
                                display: block;
                                padding: 10px 0;
                                &:hover {
                                    color: #3e3e3e;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
            .menu {
                width: 26.25px;
                cursor: pointer;
                .fa-bars {
                    position: absolute;
                }
                .fa-minus-circle {
                    display: none;
                }
                .fa-plus-circle,
                .fa-minus-circle {
                    position: relative;
                    background-color: #fff;
                    border-radius: 50px;
                    top: 17px;
                    left: 6px;
                }
            }
        }
        @media (max-width: 1110px) {
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    z-index: 1;
    &-title {
        font: bold 40px "Arvo";
        color: #3e3e3e;
        margin-bottom: 20px;
    }
    &-slogan {
        font: normal 35px "Arvo";
        color: #3e3e3e;
        margin-bottom: 25px;
    }
    P {
        font: normal 15px "Poppins";
        color: #3e3e3e;
        max-width: 538px;
        text-align: center;
        margin-bottom: 45px;
        @media (max-width: 451px) {
            margin-bottom: 0;
        }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media (max-width: 451px) {
            flex-direction: column;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font: normal 18px "Arvo";
            color: #dadada;
            width: 160px;
            height: 49px;
            border-radius: 10px;
            background-color: #3e3e3e;
            margin-left: 35px;
            @media (max-width: 451px) {
                margin-top: 25px;
                align-self: center;
                margin-left: 0;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}