.portfolio-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 110px;
    @media (max-width: 767px) {
        padding-top: 25px;
        &-title {
            margin-bottom: 0;
        }
    }
    &-title {
        font: bold 25px "Arvo";
        color: #3e3e3e;
    }
    &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 0 100px 0;
        @media (max-width: 767px) {
            padding-top: 0;
            padding-bottom: 0;
        }
        .column:nth-child(2) {
            margin: 0 25px;
        }
        &-item-small,
        &-item-big {
            position: relative;
            box-shadow: 0px 0px 20px 0px #cecece;
            margin: 30px 0;
            .buttons-holder,
            .text-holder {
                position: absolute;
                display: none;
                z-index: 2;
            }
            .buttons-holder {
                .fas {
                    margin-left: 20px;
                    color: #e9e9e9;
                    border-radius: 45px;
                }
            }
            .text-holder {
                width: 100%;
                background-color: #d3d3d3;
                h2 {
                    font: bold 18px "Arvo";
                    color: #3e3e3e;
                }
                h4 {
                    font: italic 15px "Roboto";
                    color: #3e3e3e;
                }
            }
        }
        &-item-big {
            height: 450px;
            width: 350px;
            img {
                height: 450px;
            }
            .buttons-holder {
                top: 190px;
                left: 120px;
            }
            .text-holder {
                top: 335px;
                padding: 30px 80px 30px 25px;
            }
        }
        &-item-small {
            height: 210px;
            width: 350px;
            img {
                height: 210px;
            }
            .buttons-holder {
                top: 50px;
                left: 120px;
            }
            .text-holder {
                top: 125px;
                padding: 15px 80px 15px 25px;
            }
        }
        &-item-big,
        &-item-small {
            &:hover {
                &:after {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    content: '';
                    top: 0;
                    left: 0;
                    background-color: #3e3e3e;
                    opacity: 0.6;
                    z-index: 0;
                }
                .buttons-holder,
                .text-holder {
                    display: block;
                }
            }
            @media (max-width: 370px) {
                width: auto;
                max-width: 100%;
            }
        }
        @media (max-width: 1109px) {
            justify-content: center;
            align-items: center;
            .column:nth-child(2) {
                margin-right: 0;
            }
        }
        @media (max-width: 699px) {
            .column:nth-child(2) {
                margin-left: 0;
            }
        }
    }
    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 49px;
        font: normal 18px "Arvo";
        color: #dadada;
        border-radius: 10px;
        background-color: #3e3e3e;
        text-transform: capitalize;
        margin-bottom: 100px;
        &:hover {
            color: #3e3e3e;
            background-color: #d3d3d3;
        }
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }
    }
}